name: Publish Allure Report

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Healthcheck Restful Booker
        run: |
          for i in {1..5}; do
            echo "Healthcheck attempt $i"
            curl -I https://restful-booker.herokuapp.com/ping && break
            echo "Server not ready, waiting..."
            sleep 3
          done

      - name: Run API tests with retry
        run: pytest --reruns 3 --reruns-delay 2 --alluredir=allure-results

      - name: Download Allure CLI
        run: |
          wget https://github.com/allure-framework/allure2/releases/download/2.27.0/allure-2.27.0.tgz
          tar -xzf allure-2.27.0.tgz

      - name: Generate HTML report
        run: ./allure-2.27.0/bin/allure generate allure-results -o allure-report --clean

      - name: Deploy report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-report
          force_orphan: true
